<div class="container">
  <h2>Role List</h2>
  <button class="btn btn-info" routerLink="roles/create">Criar Role</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles">
        <td> {{ role.id }}</td>
        <td> {{ role.name }}</td>
        <td>
          <button class="btn btn-secondary" routerLink="/roles/{{ role.id }}/edit"> Edit </button>
          &nbsp;
          <button class="btn btn-danger" (click)="deleteRole(role.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
